<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div th:replace="navbar"></div>
        <div class="row">
            <th:block th:each="item :${products}">
                <div class="col-sm-3 mb-3">
                    <div class="card">
                        <img th:src="@{${'/getImage/'+ item.pid}}"
                             class="card img-fluid" style="width:300px" alt=""/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.title}"></h5>
                            <p class="card-text" th:text="${'Price ' +': '+ item.price} + ' $'"></p>
                            <a th:href="${'/details/'+item.pid}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

</div>

</body>
</html>