<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
<div class="container">
  <div th:replace="navbar"></div>
    <th:block th:if="${product.getTotalElements() < 1}">
        <div>
            <h2 th:text="${'Search : '+q}"></h2>
        </div>
        <div class="text-center">Not Found !</div>
    </th:block>
    <th:block th:if="${product.getTotalElements() > 0}">
        <div>
            <h2 th:text="${'Search : '+q}"></h2>
        </div>
        <div class="row">
            <th:block th:each="item :${product}">
                <div class="col-sm-3 mb-3">
                    <div class="card">
                        <img th:src="@{${'/getImage/'+ item.pid}}"
                             class="card img-fluid" style="width:300px" alt=""/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.title}"></h5>
                            <p class="card-text" th:text="${Price +': '+ item.price} + ' $'"></p>
                            <a th:href="${'/details/'+item.pid}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <th:block th:if="${product.getTotalElements() > 10}">
            <ul class="pagination pagination-sm">
                <th:block th:each="i : ${#numbers.sequence(0,product.getTotalPages()-1)}">
                    <li class="page-item" th:classappend="${i == product.getPageable().getPageNumber() ? 'active' : ''}">
                        <a class="page-link" th:href="${'?page='+i}" th:text="${i+1}"></a>
                    </li>
                </th:block>
            </ul>
        </th:block>

    </th:block>
</div>
</body>
</html>